<div class="row">
  <div class="col-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <li         
      class="list-group-item"
      style="cursor: pointer"
      *ngFor="let ingredient of ingredients;let i = index;">
     
        {{ ingredient.name }} ({{ ingredient.amount }})
      <a href="#" appEditable class="btn btn-success float-right">Edit</a>
      <button 
      class="btn btn-danger float-right mr-4"
      [attr.index]="i"
      appShoppingItem
      >
        Delete
      </button>
    </li>
    </ul>
  </div>
</div>