<div class="row">
  <div class="col-12">
    <form #form="ngForm" (ngSubmit)="AddToList()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #name ngModel name="name" required>

        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amount ngModel name="amount" required pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success mr-3 pl-4 pr-4" type="submit" [disabled]="!form.valid" *ngIf="EditMode;else NotEditing">Save</button>
          <ng-template #NotEditing><button class="btn btn-success mr-3 pl-4 pr-4" type="submit" [disabled]="!form.valid">Add</button></ng-template>
          <button class="btn btn-primary mr-3 pl-4 pr-4" type="button" (click)="clearInput()">Clear</button>
          <button class="btn btn-danger mr-3 pl-4 pr-4" type="button" (click)="DeleteItem()" *ngIf="EditMode">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
